<?xml version="1.0" encoding="utf-8"?>
<configuration debug="false">
<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<!-- 	生成日志文件名称，value 值改成项目工程名称 -->
	<property name="logbackFileNmae" value="xinghuo-apaas-parent"/>
	
	<property name="logback.logdir" value="C:/logs"/>
	
	<contextName>logback</contextName>
	<!-- 输出到控制台 -->
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
<!-- 			<charset>UTF-8</charset> -->
			<pattern>%d %contextName [%thread] %-5level %logger{36} -> %msg%n</pattern>
		</layout>
	</appender>
	<!-- 输出到日志文件 -->
	<!-- 	info级别日志 -->
	<appender name="fileInfoLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!--过滤error -->
			<level>ERROR</level>
			<!-- 匹配到就禁止 -->
			<onMatch>DENY</onMatch>
			<!-- 没有匹配到就允许 -->
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<encoder>
<!-- 			<charset>UTF-8</charset> -->
			<pattern>%d %contextName [%thread] %-5level %logger{36} -> %msg%n</pattern>
		</encoder>

  		<File>${logback.logdir}/${logbackFileNmae}/${logbackFileNmae}_info.log</File>  

		<!--滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--路径 -->
			<fileNamePattern>${logback.logdir}/${logbackFileNmae}/${logbackFileNmae}_info.%d.log</fileNamePattern>

			<!-- 只保留最近90天的日志 -->
			<maxHistory>90</maxHistory>
			<!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
			<!--<totalSizeCap>1GB</totalSizeCap> -->

		</rollingPolicy>
	</appender>
	<!-- 	ERROR级别日志 -->
	<appender name="fileErrorLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
<!-- 			<charset>UTF-8</charset> -->
			<pattern>%d %contextName [%thread] %-5level %logger{36} -> %msg%n</pattern>
		</encoder>
		
		<File>${logback.logdir}/${logbackFileNmae}/${logbackFileNmae}_error.log</File>  
		<!--滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--路径 -->
			<fileNamePattern>${logback.logdir}/${logbackFileNmae}/${logbackFileNmae}_error.%d.log</fileNamePattern>
			<!-- 只保留最近30天的日志 -->
			<maxHistory>30</maxHistory>
			<!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
			<!--<totalSizeCap>1GB</totalSizeCap> -->
		</rollingPolicy>
	</appender>
	<root level="info">
		<appender-ref ref="consoleLog" />
		<appender-ref ref="fileInfoLog" />
		<appender-ref ref="fileErrorLog" />
	</root>
</configuration> 